body {
  width: 810px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
	padding: 0 0 400px 0;
	margin:0 auto 0 auto;
	background-color: white;
}

h1 {
  font-family: Verdana, sans-serif;
  background-color: AliceBlue;
  border: solid 2px #B1B1CC;
  padding: 2px 10px 6px 10px;
  margin: 20px 0px 20px 0px;
  border-radius: 0px 15px 15px 0px / 0px 15px 15px 0px;
	font-size:2.5em;
}

p,ul {
  margin: 5px;
	font-size:1.0em;
}

iframe {
  margin: 10px;
}

.footer {
  background-color: #FFFFCC;
  border: solid 2px #FFFFAA;
  font-size: 0.8em;
  width: 90%;
  text-align: center;
  margin: 10px auto 0px auto;
  padding: 0px 0px 0px 0px;
  border-radius: 55px 55px 15px 15px;
}

.social {
  float: right;
}

.header {
  overflow: hidden;
}

/* Styling links: http://www.w3schools.com/css/css_link.asp */
a {
  text-decoration:none;
}

a:link,a:visited {
  font-weight:bold;
}

a:visited {
  color: #787878
}

a:hover,a:active {
  text-decoration:underline;
}

a.linkBox {
  display:block;
  color:#000000;
}

a.linkBox:hover,a.linkBox:active {
  background-color: #AAFFAA;
  text-decoration:none;
}

#container { width: 750px; margin: 0 auto; border: 5px solid black; padding: 15px; background-color: white; }
ul.list { list-style-type: none; padding: 0px 0px 0px 20px; }
li.data { border: 1px solid black; margin: 10px; padding: 4px 20px 0px 4px; border-radius: 5px; }
h2 { margin: 10px; }
h3,h4 { margin: 0px; font-family: Verdana, sans-serif; }
h3 { color:#335589; }
.description { font-style: italic; }
.search { font-size:1.5em; width:550px; }

button {
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size:1.0em;
	padding:7px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}

#search-reset{
	background-color:#e8e8e8;
	color:black;
	text-shadow:none;
  border:1px solid black;
}
