body {
    width: 810px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	padding: 0 0 400px 0;
	margin:0 auto 0 auto;
}

h1 {
    font-family: Verdana, sans-serif;
    background-color: AliceBlue;
    border: solid 2px #B1B1CC;
    padding: 2px 10px 6px 10px;
	margin: 20px 0px 20px 0px;
    border-radius: 0px 15px 15px 0px / 0px 15px 15px 0px;
	font-size:2.5em;
}

p,ul {
    margin: 5px;
	font-size:1.0em;
}

iframe {
    margin: 10px;
}

.footer {
    background-color: #FFFFCC;
    border: solid 2px #FFFFAA;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin: 10px auto 0px auto;
    padding: 0px 0px 0px 0px;
    border-radius: 55px 55px 15px 15px;
}

.social {
    float: right;
}

.header {
   overflow: hidden;
}

/* Styling links: http://www.w3schools.com/css/css_link.asp */
a {
    text-decoration:none;
}

a:link,a:visited {
    font-weight:bold;
}

a:visited {
    color: #787878
}

a:hover,a:active {
    text-decoration:underline;
}

a.linkBox {
    display:block;
    color:#000000;
}

a.linkBox:hover,a.linkBox:active {
    background-color: #AAFFAA;
    text-decoration:none;
}

ul.list {list-style-type: none; padding:0px 0px 0px 20px;}
li.data {border: 1px solid black; margin: 10px; padding: 4px 20px 0px 4px; }
#container {width: 750px; margin: 0 auto; border: 5px solid black; padding: 15px;}
h2 {margin: 10px; }
h3,h4 {margin: 0px; font-family: Verdana, sans-serif;}
h3 {color:#335589; }
.description {font-style: italic; }
div.container {width:800px; border-radius:10px; background-color:#eaeaea; padding:0px; margin:5px 0px; overflow:auto;}
.search {font-size:2.0em; width:550px;}

button {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:2.0ex;
	padding:10px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}

#search-reset{
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e8e8e8), color-stop(1, #000203));
	background:-moz-linear-gradient(top, #e8e8e8 5%, #000203 100%);
	background:-webkit-linear-gradient(top, #e8e8e8 5%, #000203 100%);
	background:-o-linear-gradient(top, #e8e8e8 5%, #000203 100%);
	background:-ms-linear-gradient(top, #e8e8e8 5%, #000203 100%);
	background:linear-gradient(to bottom, #e8e8e8 5%, #000203 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#000203',GradientType=0);
	background-color:#e8e8e8;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:2.0ex;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
	}

