body {
    font-family: "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    margin: 20px auto;
    width: 770px;
}

h1 {
    font-size: 2.0em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-transform: uppercase;
    padding: 8px 0px 12px 0px;
    margin: 0;
}

h2 {
  font-size: 1.2em;
  color: white;
  background: black;
  padding: 1px 0px 1px 15px;
  margin: 10px 0px 0px 0px;
}

#contact {
  margin: 0px 15px 0px 0px;
  /* border: 2px solid black; */
  color: white;
  background: #eeeeee;
  padding: 7px;
  border-radius: 15px;
}

a {
  text-decoration: none;
}

#contact a:link {
  color: black;
}

.resume-item {
  border-color: black;
  border-style: solid;
  border-width:  0px 0px 1px 0px;
  margin: 5px 0px 5px 0px;
}

.resume-item .item-organization {
  font-size: 0.9em;
  color: #000000;
  font-style: italic;
}

.resume-item .item-location {
  font-size: 0.9em;
  color: #000000;
  float: right;
  font-style: italic;
  padding: 0px 20px 0px 0px;
}

.resume-item .item-duration {
  float: right;
  clear: right;
  font-weight: bold;
  padding: 0px 20px 0px 0px;
}

.resume-item .item-title {
  font-weight: bold;
  color: #000000;
}

.resume-item ul {
  list-style-type: none;
  font-size: 0.9em;
  margin: 6px 0px 0px 0px;
  padding: 0px 0px 3px 4em;
  text-indent: -4em;
}

ul.bulleted  {
  list-style-type: square !important;
  padding: 0px 0px 3px 1em !important;
  text-indent: 0em;
}

a:link {
  font-family: 'Lucida Console', Monaco, monospace;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
