<!doctype html>
<head>
        <title>Journal OA Results</title>
        <meta charset=utf-8>

        <script>
        function loadXMLDoc()
        {
        if (window.XMLHttpRequest)
          {// code for IE7+, Firefox, Chrome, Opera, Safari
          xmlhttp=new XMLHttpRequest();
          }
        else
          {// code for IE6, IE5
          xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
          }
        xmlhttp.onreadystatechange=function()
          {
          if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                document.getElementById("results").innerHTML="testing!";    //xmlhttp.responseText;
                }
          }
        xmlhttp.open("GET","journal_info.txt",true);
        xmlhttp.send();
        }

	function testLoad() {
		document.getElementById("results").innerHTML="testing!";
		}
        </script>



</head>

<body>
	<h1>Journal Open Access Results</h1>
	<div id="results">
		</div>
	<script>testLoad()</script>
</body>
</html>

