<!doctype html>
<head>
	<title>Python via Flask</title> 
	<meta charset=utf-8> 
</head>

<body>
	<div style="width:800px; float:center; margin:0 auto 0 auto; 
		border:4px black dashed; border-radius:25px; padding: 20px;">

	<h1 style="text-align:center;">Journal Open Access Lookup</h1>

	<p>Please enter a list of journal titles, separated by commas or one per line; 
		this app will return the list of journal titles and their
		open access (OA) status from the 
		<a href="http://www.sherpa.ac.uk/romeo/">SHERPA/RoMEO</a> database.

	<p>Note that this will take a moment to process!
		</p>

	<p>A <span style="font-weight:bold;">preprint</span> is the document submitted
		to a journal for publication consideration; this document becomes a
		<span style="font-weight:bold;">postprint</span> when, after peer review
		and additional edits, it is ready for final submission.
		</p>

	<ul>
		<li><span style="color:yellow; background-color:black;">OA Yellow</span>
			- preprints may be posted publicly</li>
		<li><span style="color:lightblue; background-color:black;">OA Blue</span>                                     
                        - postprints may be posted publicly</li>
		<li><span style="color:lightgreen; background-color:black;">OA Green</span>                                     
                        - preprints and postprints may be posted publicly</li>
		<li><span style="color:gold; background-color:black;">OA Gold</span>                                     
                        - final published articles may be posted publicly</li>
		<li><span style="color:white; background-color:black;">OA White</span>                                     
                        - nothing may be posted publicly</li>
		</ul>

	<p>You are highly encouraged to post the appropriate form of your publications
		in institutional and subject repositories and on your public website.
		This is known as 'self-archiving', and it's the key to the
		<a href="http://en.wikipedia.org/wiki/Open_access#Self-archiving:_green_open_access">
		'green path' to open access</a>.
		</p>

	<form action="." method="POST">
		<textarea name="text" cols="40" rows="5">
ChemBioChem
Eukaryotic Cell
Extremophiles
Green Chemistry</textarea>
		<br />
		<input type="radio" name="outstyle" value="csv" checked>Generate .csv file
		<br />
		<input type="radio" name="outstyle" value="html">Display in browser
		<br />
		<input type="submit" name="my-form" value="Send">
	</form>
	
	<p><a href="/my-link/"><button>Server Functionality Test</button></a>
		</p>
	</div>
</body>

