<!doctype html>
<head>
	<title>Python via Flask</title> 
	<meta charset=utf-8> 

	<script>
	function loadXMLDoc()
	{
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xmlhttp.onreadystatechange=function()
	  {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
		document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
		}
	  }
	xmlhttp.open("GET","status_info.txt",true);
	xmlhttp.send();
	}
	</script>
</head>

<body>
	<h1>Journal Access Lookup</h1>
	<p>Please enter a list of journal titles, separated by commas or one per line;
		this app will return a CSV containing the journal titles and their OA status.</p>
	<form action="." method="POST">
		<textarea name="text" cols="40" rows="5"></textarea>
		<input type="submit" name="my-form" value="Send">
	</form>
	
	<p><a href="/journals/"><button>Use Default Journal List</button></a> - note that this will take a minute!
	<p><a href="/my-link/"><button>Click me</button></a>
</body>

